* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cream: #FFFBE8;
    --green: #B7F4B1;
}

/* navbar */
nav {
    background-color: white;
}

button {
    width: 150px;
    height: 40px;
}

/* header */
.left {
    background-color: var(--cream);
    text-align: left;
    min-height: 70vh;
    padding: 100px 350px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left h3 {
    width: 80%;
}

.bg-green {
    background-color: var(--green);
    font-style: italic;
    color: black;
}

.right {
    background-color: var(--green);
    min-height: 70vh;
}

.hero-image {
    width: 30%;
    position: absolute;
    right: 20%;
    bottom: 25%;
}

.voted {
    margin-bottom: -40px;
}

/* guide */
#guide {
    background-color: black;
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
    padding: 50px;
    color: white;
}

.text-green {
    color: var(--green);
    letter-spacing: 2px;
}

.guide-header {
    margin-top: -10px;
}

.number {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    font-size: 65px;
    color: black !important;
    margin: 30px 0;
}

.number-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description {
    width: 90%;
}