* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cream: #FFFBE8;
    --green: #B7F4B1;
    --grey: #e7e9eb;
}

/* navbar */
nav {
    background-color: white;
}

button {
    width: 150px;
    height: 40px;
}

button:hover {
    background-color: white !important;
    border: 3px solid black;
    color: black !important;
}

/* header */
.left {
    background-color: var(--cream);
    text-align: left;
    min-height: 70vh;
    padding-left: 100px !important;
}

.left h3 {
    width: 80%;
}

.bg-green {
    background-color: var(--green);
    font-style: italic;
    color: black;
}

.right {
    background-color: var(--green);
    min-height: 70vh;
}

.hero-image {
    width: 60%;
}

.voted {
    font-size: 22px;
}

/* guide */
#guide {
    background-color: black;
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
    padding: 50px;
    color: white;
}

.text-green {
    color: var(--green);
    letter-spacing: 2px;
}

.guide-header {
    margin-top: -10px;
}

.number {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    font-size: 65px;
    color: black !important;
    margin: 30px 0;
}

.number-align {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.description {
    width: 70%;
}

/* generator */
#generator {
    width: 90%;
    margin: 50px auto;
    border-radius: 20px;
    border: 5px solid black;
    min-height: 500px;
    padding: 100px;
}

.input-style {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.input-style p, .input-style label {
    font-size: 20px;
}

#password {
    display: block;
    width: 100%;
    padding-top: 39px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 39px;
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}

#generate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px !important;
    width: 30%;
    margin: auto;
    height: 70px !important;
    font-size: 30px;
}

/* footer */
footer {
    margin-top: 50px;
    background-color: var(--green);
    padding: 30px;
}